{% extends 'partials/_master.twig' %}

{% block title %}
    {{ slug }}
{% endblock title %}

{% block main %}
    {% if taxonomy is defined and slug in taxonomy.options|keys %}
        {% setcontent products = 'products' where { categorias: slug} limit config.get('general/categorias_listing_records') orderby '-publishedAt' %}
        <div class="w3-container w3-padding-16">
            <div id="product-list-container">
                {% for record in products %}
                    <div class="w3-container w3-padding-16 w3-hover-shadow">
                        {% if record|image %}
                            <a href="{{ record|link }}">
                                <img src="{{ record|thumbnail(300, 180) }}" alt="{{ record|image.alt|default() }}" />
                            </a>
                        {% endif %}
                        <h4 class=""><a href="{{ record|link }}">{{ record|title }}</a></h4>
                        <span class="w3-red w3-round-small w3-padding-small w3-opacity">{{ record.price|format_currency('CVE') }}</span>
                        <div class="w3-padding-16">
                            {% for tag in record|taxonomies['tags'] %}
                                <a class="w3-opacity" href="{{ path('taxonomy_locale', { 'taxonomyslug': 'tag', 'slug': tag.slug }) }}">{{ tag.name|lower }}</a>{% if not loop.last %}, {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div id="pager-container" class="w3-padding-16">
                {{ pager(products, template='partials/_pager.twig') }}
            </div>
            {{ dump() }}
        </div>
    {% else %}
        {# {{ redirect(path('record_locale', {'contentTypeSlug': 'block', 'slugOrId': '404-not-found' })) }} #}
        {{ redirect(path('homepage_locale')) }}
    {% endif %}

{% endblock main %}