{% extends 'partials/_master.twig' %}

{% block main %}
    <div class="w3-container w3-padding-16">
        <div id="product-list-container">
            {% for product in products %}
                <div class="w3-container w3-padding-16 w3-hover-shadow">
                    {% if product|image %}
                        <a href="{{ product|link }}">
                            <img src="{{ product|thumbnail(300, 180) }}" alt="{{ product|image.alt|default() }}" />
                        </a>
                    {% endif %}
                    <h4 class=""><a href="{{ product|link }}">{{ product|title }}</a></h4>
                    <span class="w3-red w3-round-small w3-padding-small w3-opacity">{{ product.price|format_currency('CVE') }}</span>
                </div>
            {% endfor %}
        </div>
        <div id="pager-container" class="w3-padding-16">
            {{ pager(products, template='partials/_pager.twig') }}
        </div>
    </div>

{% endblock main %}