<!-- Header bar -->
<header>
    <div id="logo-wrapper">
        <h1><a class="logo" href="{{ path('homepage') }}">[logo]</a></h1>
    </div>
    <nav class="main-nav">
        <ul>
            <li><a href="{{ path('aboutbinding') }}">About us</a></li>
            <li><a href="{{ path('contactbinding') }}">Contact</a></li>
            <li><a href="{{ path('login') }}">Sign in</a></li>
            <li><a href="{{ path('register') }}">Sign up</a></li>
        </ul>
    </nav>
</header>
