<!-- Headerbar -->
<header class="w3-container w3-padding-16">
    <nav class="main-nav">
        <ul>
            <li><a class="logo" href="{{ path('homepage_locale') }}">[logo]</a></li>
            <li><a href="{{ path('listing_locale', {'contentTypeSlug': 'products'}) }}"><i class="fas fa-building"></i> {% trans %}mainmenu.products{% endtrans %}</a></li>
            <li><a href="{{ path('aboutbinding') }}"><i class="fas fa-building"></i> {% trans %}mainmenu.about{% endtrans %}</a></li>
            <li><a href="{{ path('contactbinding') }}"><i class="fas fa-envelope-open"></i> {% trans %}mainmenu.contact{% endtrans %}</a></li>
            <li><a href="{{ path('login') }}"><i class="fas fa-sign-in-alt"></i> {% trans %}mainmenu.login{% endtrans %}</a></li>
            <li><a href="{{ path('register') }}"><i class="fas fa-user-plus"></i> {% trans %}mainmenu.register{% endtrans %}</a></li>
            <li>{% include 'helpers/_languageselect.html.twig' with {'type': 'select'} %}</li>
        </ul>
    </nav>
</header>
<!-- End Headerbar -->